.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	transition: $duration-normal;
	user-select: none;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100%;
		color: currentColor;
		transform: translateZ(0);
	}

	&__up {
		appearance: none;
		position: fixed;
		z-index: 9;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: 50%;
		background: conic-gradient($color-red var(--p), $color-black 0);
		transition: transform $duration-normal $easing-back-in;
		pointer-events: none;

		&::before {
			content: "";
			position: absolute;
			left: 1.5px;
			top: 1.5px;
			z-index: -1;
			border-radius: 50%;
			width: calc(100% - 3px);
			height: calc(100% - 3px);
			background-color: $color-white;
		}

		&-percantage {
			line-height: 1;
			color: $color-black;
			opacity: 1;
			transition: opacity $duration-normal $easing-back-out;
		}

		&-icon {
			display: none;
			fill: none;
			opacity: 0;
			transition: opacity $duration-normal $easing-back-out;
		}

		&.is-show-arrow {
			cursor: pointer;
			pointer-events: inherit;

			.btn__up-percantage {
				display: none;
				opacity: 0;
			}

			.btn__up-icon {
				display: block;
				opacity: 1;
			}

			@include hover {
				transform: scale(1.05);
			}
		}

		@include desktop {
			right: #{vw(25)};
			bottom: #{vw(25)};
			width: #{vw(48)};
			height: #{vw(48)};

			&-percantage {
				font-size: #{vw(14)};
			}

			&-icon {
				width: #{vw(18)};
				height: #{vw(24)};
			}
		}

		@include desktop-xl {
			right: 32px;
			bottom: 32px;
			width: 60px;
			height: 60px;

			&-percantage {
				font-size: 18px;
			}

			&-icon {
				width: 22.5px;
				height: 30px;
			}
		}

		@include devices {
			right: #{vm(20)};
			bottom: #{vm(20)};
			width: #{vm(30)};
			height: #{vm(30)};

			&::before {
				left: 1px;
				top: 1px;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
			}

			&-percantage {
				font-size: #{vm(10)};
			}

			&-icon {
				width: #{vm(10)};
				height: #{vm(12)};
			}
		}
	}
}