.preloader
	+picture({
		src: `${baseDir}images/preloader.png`,
		alt: "Boy flying a rocket",
	}, [
		{
			srcset: `${baseDir}images/preloader.png 1x, ${baseDir}images/preloader@2x.png 2x`,
		}
	]).preloader__image