$sprites: (
	"eduIcon-01": (
		normal: (
			x: 0,
			y: 0,
			width: 63,
			height: 43,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 0,
			width: 126,
			height: 86,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"eduIcon-02": (
		normal: (
			x: 65,
			y: 0,
			width: 37,
			height: 37,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 130,
			y: 0,
			width: 74,
			height: 74,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"eduIcon-03": (
		normal: (
			x: 0,
			y: 45,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 90,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"eduIcon-04": (
		normal: (
			x: 35,
			y: 45,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 70,
			y: 90,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"eduIcon-05": (
		normal: (
			x: 104,
			y: 0,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 208,
			y: 0,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"eduIcon-06": (
		normal: (
			x: 104,
			y: 36,
			width: 33,
			height: 34,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 208,
			y: 72,
			width: 66,
			height: 68,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"expIcon-01": (
		normal: (
			x: 0,
			y: 81,
			width: 35,
			height: 17,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 162,
			width: 70,
			height: 34,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"expIcon-02": (
		normal: (
			x: 70,
			y: 45,
			width: 26,
			height: 17,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 140,
			y: 90,
			width: 52,
			height: 34,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"expIcon-03": (
		normal: (
			x: 37,
			y: 81,
			width: 25,
			height: 17,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 74,
			y: 162,
			width: 50,
			height: 34,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"expIcon-04": (
		normal: (
			x: 64,
			y: 81,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 128,
			y: 162,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
	"expIcon-05": (
		normal: (
			x: 83,
			y: 81,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 137,
			total_height: 98,
		),
		retina: (
			x: 166,
			y: 162,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 274,
			total_height: 196,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
