h1, h2 {
	margin: 0;
}

h1, .h1 {
	font-weight: 700;
	line-height: 1.4;
}

h2, .h2 {
	font-weight: 700;
	line-height: 1;
}


@include desktop {
	h1, .h1 {
		font-size: #{vw(36)};
	}

	h2, .h2 {
		font-size: #{vw(24)};
	}
}

@include desktop-xl {
	h1, .h1 {
		font-size: 45px;
	}

	h2, .h2 {
		font-size: 30px;
	}
}

@include devices {
	h1, .h1 {
		font-size: #{vm(26)};
	}

	h2, .h2 {
		font-size: #{vm(20)};
	}
}